body {
    background-color:#333A56;
    margin: 0;
    /* background-image: url('../img/v748-toon-15.jpg'); */
    background-size: cover;
    background-attachment: fixed;
}

@font-face {
    font-family: 'primary';
    src: url("../fonts/Ubuntu-B.ttf");
}

.topnav {
    background-color: #52658F;

    overflow: hidden;
    font-family: primary;
}

.link {
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-size: x-large;
}

.link:hover {
    background-color: #42e0ff;
}

.active {
    float: right;
    background-color: #42e0ff;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-size: x-large;
    
}

.container {
    display: flex;
    align-items: center;
    width: 65%;
    margin: 0 auto;
    text-align: center;
    justify-content: center;
    padding: 0;

}

#nameHead {
    color: #F0F7F4;
    font-family: primary;
    font-size: 160px;
    margin-top: 200px;
    text-align: left;
    padding: 0;
}

#nameHeadShadow {
    color: #42e0ff;
    position: absolute;
    top: 152px;
    /* 97 with no header */
    left: 370px;
    font-family: primary;
    font-size: 160px;
    text-align: left;
    z-index: -1;
}

#pfp {
    padding-top: 120px;
    padding-left: 150px;
    width: 300px;
    height: 300px;
}

#circle {
    position: fixed;
    top: -190px;
    right: 123px;
    transform: scale(.8);
    z-index: -1;
}

.bottomPage {
    background-color: #F7F5E6;
}

.container-links {
    position: fixed;
    bottom: 20px;
    right: 20px;
}

#github {
    margin-right: 20px;
    width: 50px;
    height: 50px;
}

#linkedin {
    margin-right: 20px;
    width: 50px;
    height: 50px;
}

.footer {
    font-family: primary;
    color: #4e5555;
    position: fixed;
    bottom: 5px;
    left: 20px;
}